*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(239, 247, 189);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    transition: all ease 1s;
    overflow: hidden;

}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: -40%;
    transition: all ease 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom h4{
    color: white;
    font-size: 20px;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 100;
    padding-left: 5%;
}
.bottom h3{
    color: white;
    font-size: 25px;
    margin-left: 5%;

}
.card:hover .bottom{
    cursor: pointer;
    bottom: 0;
    
}

