*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* linearGradient and radialGradient */

:root{
    --x: 400px;
    --y: 400px;
}

body{
    background-image: url('https://images.unsplash.com/photo-1765202665764-ca839162fe4a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMXx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.box{
    height: 100%;
    width: 100%;
    /* background-color: var(--red); */
    /* background: linear-gradient(in oklab to right,white,red,purple); */
    background: radial-gradient(150px at var(--x) var(--y) ,rgba(242, 237, 237, 0),rgba(166, 149, 149, 0.89));
}