@mixin button($bg-Color:pink, $text-Color:black, $font-Size:10px){
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $bg-Color;
    color: $text-Color;
    font-size: $font-Size;
    cursor: pointer;
    margin: 10px;
}