@import "button";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
// h1{
//     color: rgb(9, 0, 0);
// }
// main{
//      height: 100%;
//      width: 100%;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      background-color: black;
// }
// main section{
//     height: 50%;
//     width: 50%;
//     background-color: rgb(248, 225, 225);
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// main section h1{
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }




//Nesting in SCSS
//it is done by placing the child selector inside the parent selector

//mixins
//when we have to use same set of properties multiple times in a project then we can create a mixin for that set of properties and use that mixin wherever required using @include directive
// here for eg:
// display: flex;
// align-items: center;
// justify-content: center;
// background-color: black;

// producion me bohot clean code ki requirement hoti hai isliye hum mixins ka use karte hai taaki code clean rahe.
//Partials and imports
// jab humare scss file me bohot saare mixins hote hai to hum unhe alag file me rakhte hai jise partials kehte hai aur fir unhe main scss file me import kar lete hai.
//partials file ka naam underscore(_) se start hota hai taaki wo compile na ho.


@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;

}
@mixin buttonStyle($bgColor){
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $bgColor;
    color: rgb(8, 8, 8);
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

main{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black;
     section{
        height: 50%;
        width: 50%;
        background-color: rgb(248, 225, 225);
       @include flexCenter();
        
        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .b1{
            @include buttonStyle(rgb(31, 98, 120));
        }
        .b2{
            @include button($bg-Color:rgb(120, 31, 98), $text-Color:white, $font-Size:20px);
        }
     }
}