* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    section{
        height: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        background-color: red;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
    }
    section:hover{
        flex-grow: 2;

    }
    section:nth-child(1){
        background-image: url(./ironman.jpg)
    }
    section:nth-child(2){
        background-image: url(./loki.jpg)
    }
    section:nth-child(3){
        background-image: url(./thor.jpg)
    }
    section:nth-child(4){
        background-image: url(./doom.jpg)
    }
    section:nth-child(5){
        background-image: url(./deadpool.jpg)
    }

}