*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
h1{
    color: bisque;
    font-style: bold;
}
h2{
    margin-top: 10px;
    color: red;
}
button{
    padding: 10px 20px;
    color: rgb(210, 210, 54);
    background-color: rgb(197, 81, 206);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}