*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px   
}

.card{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 20px;
    overflow: hidden;

}

.card img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
   
}
.card h2{
    margin: 10px;
}
.card p{
    margin: 10px;
}