*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    background-color: white;
}
section{
    width:100%;
    height:100vh;
}

.page1{
    margin-bottom: 5rem;
    nav{
    width:100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    
    h1{
        margin-right: 20rem;
        color: black;
        font-size: 2rem;
        font-weight: 900;
    }
    h3{
        color: rgb(72, 70, 70);
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;        
    }
    .btn{
        border-radius: 8px;
        padding: 0.5rem 1rem;
        background-color: rgb(242, 164, 54);
        color: rgb(247, 241, 241);
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        margin-left: 8rem;
        border: none;

    }
    }
    .content{
        display: flex;
        flex-direction: row;

        #left{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            h1{
                margin-top: 6rem;
                margin-left: 3rem;
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: 2rem;
                

            }
            p{
                margin-left: 3rem;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 2rem;
                color: rgb(149, 147, 147);
            }
            #but1{
                margin-left: 3rem;
                padding: 0.7rem 1.5rem;
                font-size: 1rem;
                font-weight: 500;
                border-radius: 8px;
                border: none;
                background-color: rgb(242, 164, 54);
                color: white;
                cursor: pointer;
                margin-right: 30rem;

            }
        }
        #right{
            width: 50%;
            padding: 2rem;

            img{
                border-radius: 100px;
            }
            
        }
    }
    }

    .page2{
        display: flex;
        flex-direction: column;
        

        #top{
            margin-top: 1rem;
            width:100%;
            height: 20vh;
            align-items: center;
            justify-content: center;
            text-align: center;
            
            h1{
                font-size: 3rem;
                font-weight: 700;
            }
            p{
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 500;
                color: rgb(149, 147, 147);
                text-align: center;
            }
        }

        #bottom{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 0rem 10rem;
            justify-content: center;

            .box{
                width: 25%;
                height: 50vh;
                background-color: rgb(250, 250, 250);
                border-radius: 15px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 100%;
                    height: 30vh;
                    border-radius: 15px;
                    object-fit: cover;
                    padding: 1rem;
                    border-radius: 2rem;
                }
                h2{
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                p{
                    margin-top: 0.5rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgb(149, 147, 147);
                    margin-left: 1rem;
                }

                #bt{
                    color: rgb(66, 65, 65);
                    border-radius: 1rem;
                    padding: 0rem 1rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                }
            }
        }
    }
  #btn1:hover{
    background-color: rgb(222, 219, 215);
    color: white;
    transition: 0.3s;
  }
