* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(35, 35, 35), black);
}

/* ----- MAIN CONTAINER ----- */
main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- SECTION ----- */
section {
    height: 100vh;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

/* ----- REELS CONTAINER ----- */
.allreels {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.allreels::-webkit-scrollbar {
    display: none;
}

/* ----- EACH REEL ----- */
.reel {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ----- BOTTOM INFO ----- */
.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.bottom .user h4 {
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
}

.bottom .user button {
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 2px solid white;
    color: aliceblue;
    cursor: pointer;
}

.bottom > h3 {
    font-weight: 400;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ----- RIGHT ICON BAR ----- */
.right {
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 100px;
    text-align: center;
    color: white;
}

.right i {
    font-size: 25px;
    font-weight: 500;
}

.right h6 {
    font-size: 14px;
    font-weight: 500;
}

.right h4 {
    cursor: pointer;
}
.love{
    color: red;
}