*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 250px 1fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas: "header header"
               "aside section"
               "footer footer";
}
header{
    background-color: crimson;
    grid-area: header;
}
section{
    background-color: lightseagreen;
    grid-area: section;
}
footer{
    background-color: teal;
    grid-area: footer;
}
aside{
    background-color: orange;
    grid-area: aside;
}