*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}

h1{
    font-size: 2rem;
    color: rgb(13, 103, 135);
}

h3{
    font-size: 1.5rem;
    color: blue;
}



