* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(171, 168, 168);
}
body{
    background-color: rgb(23, 23, 23);
}
@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    width: 100%;
    @include flex-column(0rem);

    section{
        width: 100%;
        @include flex-column(1rem);
        gap: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                // height: 50%;
                border-radius: 15px;
                padding:1rem;
            }
        }
        .bottom{
            background-color: rgb(37, 37, 37);
            // padding: 1rem;
            display: flex;
            @include flex-column(3rem);

            .text{
               @include flex-column(0.7rem);

                h1{
                font-weight: 500;
                font-size: 2.5rem;
                text-transform: uppercase;
                }

                p{
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 1.5;
                    font-size: 1.5rem;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            
            }

         
        }
    }

}
@media(min-width:900px){
    main{
         background-color: red;
         
         section{
            flex-direction: row;
         }
    }

}