*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#box{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: aquamarine;

}
button{
    padding: 10px 10px;
    border-radius: 20px;
    background-color: rgb(121, 236, 132);
    color: white;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(172, 24, 98);
}
button:active{
    scale: 0.95;
}